@import "../../../../src/styles/bahmni-helper/_variables.scss";
.showSelectedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primaryFont;
  font-size: 14px;
  margin: 20px 0;

  b {
    font-weight: lighter;
  }
}

