:root {
  --color-primary-1: #3772AC;
  --color-primary-1-lighter: #2B8AE7;
  --color-primary-2: #14847C;
  --color-border: #979797;
  --color-secondary-1: #ffffff;
  --color-secondary-2: #231f20;
  --color-disbale:#cccccc;
  --color-datepicker-content-color:#666;
  --color-missed-appointment-color:#fceab6;
  --color-cancelled-appointment-color:#fcb6b6;
}
